.radio-form {
    padding: 50px;
    width: max-content;
    border: 2px solid #0f0f0f;
    font-size: 14px;
}

input[type='radio'] {
    opacity: 0px;
    margin: 0px;
    width: 0px;
    height: 0px;
}

input[type='radio'] + label {
    position: relative;
    padding: 0px 20px;
    cursor: pointer;
}

input[type='radio'] + label:before {
    position: absolute;
    content: '';
    left: 0px;
    width: 15px;
    height: 15px;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    background: #FFF;
}

input[type='radio'] + label:after {
    position: absolute;
    content: '';
    top: 4px;
    left: 4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: black;
    opacity: 0;
}

input[type='radio']:focus + label:before {
    border: 1px solid #218ae0;
}

input[type='radio']:checked + label:after {
    opacity: 1;
}

input[name='radio-group-1']:active + label:after {
    opacity: 1;
}

input[name='radio-group-1']:hover + label:before {
    background-color: #c8d1d0;
}

input[type='radio']:disabled + label {
    opacity: 0.4;
}

